---
import SectionTitle from "./SectionTitle.astro";
import GradientTitle from "./GradientTitle.astro";
import { Icon } from "astro-iconify";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import TimelineItem from "./TimelineItem.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import educationData from "../data/education.json";

const certifications = educationData.certifications.map((cert: any) => ({
    ...cert,
    description: t(cert.descriptionKey as any),
}));
---

<section
    id="certifications"
    class="max-w-5xl mx-auto py-16 sm:py-20 px-4 sm:px-6 lg:px-8"
    data-aos="fade-up"
    data-aos-duration="1000"
>
    <GradientTitle title={t("certifications.title")} />

    <div class="w-full pl-2 sm:pl-4">
        {
            certifications.map(
                (
                    { title, issuer, date, description, pdfPath, icon },
                    index,
                ) => (
                    <TimelineItem
                        title={title}
                        subtitle={issuer}
                        date={date}
                        description={description}
                        icon={icon}
                        link={pdfPath}
                        linkText={t("certifications.viewOnline")}
                        isLast={index === certifications.length - 1}
                    />
                ),
            )
        }
    </div>
</section>
