---
import SectionTitle from './SectionTitle.astro';
import Certifications from './Certifications.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const educations = [
    {
        degree: t('education.degree'),
        institution: t('education.institution'),
        startDate: '2022',
        endDate: t('education.endDate'), 
        description: t('education.description'),
    }
];
---

<section id="education" class="max-w-5xl mx-auto py-20 px-4 sm:px-6 lg:px-8 scroll-mt-20">
    <SectionTitle title={t('education.title')} />

    <!-- Educación -->
    <div class="mt-8 space-y-10">
        <h2 class="text-2xl sm:text-3xl font-semibold text-white mb-6 border-b border-gray-600 pb-2">{t('education.subtitle')}</h2>
        {educations.map(({ degree, institution, startDate, endDate, description }) => (
            <article class="bg-zinc-900/70 p-4 sm:p-6 rounded-lg shadow-lg text-white hover:shadow-red-500 transition-shadow duration-300">
                <header class="flex flex-col sm:flex-row justify-between items-start sm:items-center gap-2">
                    <h3 class="text-lg sm:text-xl font-semibold">{degree}</h3>
                    <time class="text-sm text-zinc-400">{startDate} - {endDate}</time>
                </header>
                <p class="text-zinc-300 italic mt-1">{institution}</p>
                <p class="mt-4 text-zinc-200 leading-relaxed">{description}</p>
            </article>
        ))}
    </div>

    <!-- Insertar componente Certifications -->
    <Certifications />
</section>
